body {
    background-color: #9f9da7;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    padding: 100px;
  }
  
  h2 {
    font-weight: 300;
    text-align: center;
  }
  
  p {
    position: relative;
  }
  
  .header {
    background-color: #4677F0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }

.menu{ width: 280px; }
.menu{
    list-style: none;
    margin: 10px;
    padding: 10px;
    width: 180px;
  }
  .menu {

    border-bottom: none;
    list-style: none;
    margin: 10px;
    padding: 10px;
    width: 180px;

  
  
  }
  .menu .lista {
    background: #F4F4F4;
    border-bottom: 1px solid ;
    border-top: 1px solid ;
    border-left: 1px solid;
    border-right: 1px solid;
    margin-bottom: 45px;
    background-image: linear-gradient(45deg,#4677F0,#4677F0);

  }

  .menu .lista .puntos {
    color: #333;
    display: block;
    padding: .2em 0 .2em .5em;
    text-decoration: none;
  }
.bordeG{
  display: flex;
  border: #4677F0 3px solid;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  
}
.bordeI{
  border: #4677F0 3px solid;
  padding: 50px;
  margin: 10px;
  
}

.bordeL{
  border: #4677F0 3px solid;
  
}
.Imagen{
  width: 50%;
  display: block;
  margin: 0 auto;
}
