body {
    background-color: #9f9da7;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    padding: 100px;
  }
  
  h2 {
    font-weight: 300;
    text-align: center;
  }
  
  p {
    position: relative;
  }
  
  .header {
    background-color: #4677F0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }



/*Registrar*/
.registrar_usuarios_container{
    width: 40.5%;
}
.usuarios_registrados_container{
    width: 59.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.registrar_usuarios_container{
    margin: 1%;
    justify-content: space-between;
}
.usuarios_registrados_container{
    margin: 1% 1% 1% 0;
}
.registrar_usuarios_container, .usuarios_registrados_container{
    background-color: var(--color-10);
    border: 2.5px solid var(--color-9);
}
.titulo_1{
    margin: 3% 0 0 3%;
}
.titulo_2{
    margin: 2% 0 0 2%;
}
.titulo_container{
    font-weight: 500;
    width: 100%;
}
.usuarios_form{
    border: 2px solid var(--color-6);
    width: 82%;
    height: 80%;
    margin: 2.5% 0;
    justify-content: space-around;
    padding: 5%;
}
.info_personal_container{
    justify-content: space-between;
}
.nombre_container, .apellido_container{
    width: 48%;
    height: 85%;
}
#nombre, #apellido{
    margin: 4px 0 0 0 !important;
}
.diseño_input{
    height: calc(18px + 2.5vw);
}
.diseño_input{
    padding: 0 20px;
    width: calc(100% - 42px);
    /* height: calc(18px + 2.5vw); */
    border: 2px solid #000;
}
.diseño_input, .lbl_permisos{
    margin: 4px 0 12px 0;
}
#nombre{
    margin-right: 2% !important;
}
.txt_form, .diseño_input, .titulo_container, .txt_permisos{
    font-size: calc(2px + 1vw);
    font-weight: 500;
}
.txt_form{
    width: 100%;
}
.txt_permisos{
    font-weight: 400;
}
.input_registrar{
    background-color: var(--color-4);
    cursor: pointer;
}
.input_registrar:hover{
    background-color: var(--color-3);
}
.titulo_container{
    width: 100%;
}
.empleados-container{
    height: 100%;
}
.empleados-table-container{
    border: 2px solid var(--color-6);
    width: 90%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 2%;
}
.empleados-table-container::-webkit-scrollbar{
    width: 10px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--color-9);
}
.empleados-table-container::-webkit-scrollbar-thumb{
    border-radius: 5px 15px 15px 5px;
    background-color: var(--color-7);
}
.tabla-usuarios{
    width: 100%;
    text-align: center;
}
.titulo-tabla{
    font-weight: bold;
}
.img-tabla{
    font-size: calc(40px + 1vw);
}
.titulo-tabla, .columna-1, .columna-2, 
.columna-3, .columna-4{
    font-size: calc(3px + 1vw);
    padding: 1% 0;
}
.fa-pen, .fa-toggle-on{
    margin: 0 12%;
    cursor: pointer;
}
#buscar{
    width: 60%;
    height: 7%;
    padding: 0 5%;
    border: 2.5px solid var(--color-9);
    font-size: calc(2px + 1vw);
}
.fila-titulos {
    background-color: var(--color-8);
}
.fila-w{
    background-color: white;
}


/*estilos registrar*/
/*--ACOMODANDO-MARGENES-PADDING--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}
/*--IMAGEN-DE-FONDO--------------*/
body{

    font-size: 15px;
}
/*--FORMULARIO-------------------*/
.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
/*--TITULO-----------------------*/
.titulo{
    color: #000000;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
/*--CAJAS-DE-DATOS---------------*/
.cajas{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #9f9da7;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    border: black 2px solid;
    color: whi;

}
.centrar-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* O ajusta la altura deseada */
  }
/*--TERMINOS-Y-CONDICIONES-------*/
.termino1{
    text-align: center;
    color: #3b3b3b;
}
.termino2{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.termino2:hover{
    color: #dbdbdb;
}
/*--BOTON-DE-REGISTRARSE---------*/
.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background-image: linear-gradient(45deg,#4677F0,#4677F0);
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}
.btn:hover{
    background: #133043;
}
/*--YA-TENGO-CUENTA--------------*/
.tengo-cuenta{
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.tengo-cuenta:hover{
    color: #dbdbdb;
}
